<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Сплит</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<main>
    <style>
        .container {
            margin-top: 3%;
            margin-bottom: 2%;
        }

        h1 {
            margin-bottom: 1%;
        }

        form {
            margin-top: 5%;
            margin-left: 12%;
        }

        p {
            font-weight: 600;
        }
    </style>
    <div>Поиск по названию сплита</div>
    <form method="post" action="/finder">
        <input type="text" name="finder">
        <button type="submit" class="btn btn-warning">Найти</button>
    </form>
    <div class="container">
        <h1>Сплиты</h1>
        <div th:each="el : ${splits}" class="alert alert-info mt-7">
            <h3 th:text="${el.name}"/>
            <p th:text="${el.description}"/>
            <a th:href="'/split/' + ${el.id}" class="btn btn-warning">Детальнее</a>
        </div>
    </div>
</main>
</body>
</html>